<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Video.FFMPEG" version="3.8.0" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.7.106.13" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.103.43" targetFramework="net48" />
  <package id="AWSSDK.SecurityToken" version="3.7.100.14" targetFramework="net48" />
  <package id="DnsClient" version="1.6.1" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls.WebView" version="6.1.2" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net48" />
  <package id="MongoDB.Bson" version="2.19.1" targetFramework="net48" />
  <package id="MongoDB.Driver" version="2.19.1" targetFramework="net48" />
  <package id="MongoDB.Driver.Core" version="2.19.1" targetFramework="net48" />
  <package id="MongoDB.Libmongocrypt" version="1.7.0" targetFramework="net48" />
  <package id="SharpCompress" version="0.30.1" targetFramework="net48" />
  <package id="Snappier" version="1.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.6.2" targetFramework="net48" />
</packages>